body{
    margin:0;
    
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    margin: 50px auto 0 auto;
    font-size:90px;
    font-family: 'Sacramento', cursive;
    color:#66BFBF;
    
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size:2.5rem;
    color:#66BFBF;
    font-weight:normal;
}


h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p{
    color: #40514E;
    font-weight:600;
    line-height:2;
}


hr{
    border-style:none;
    border-top-style:dotted;
    border-width:7px;
    color:#eaf6f6;
    width: 5%;
    margin-top:60px;
}

button{
    background-image: linear-gradient(#11cdd4,#11999e);
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:8px;
    font-size:20px;
    border-width:0px;
    border-radius:5px;
    width:170px;
    margin:20px;
    
}

button:hover{
    background-image: linear-gradient(#30e3cb,#2bc4ad);
}

.btn{
    color: white;
    text-decoration:none;
}


.top-container{
    background-color:#eaf6f6;
    position:relative;
    padding-top:100px;
    
}



.top-cloud{
    position:absolute;
    right:300px;
    top:50px;
    
    
}

.bottom-cloud{
    position:absolute;
    left:300px;
    bottom:300px;
}



.skill-row{
    width:50%;
    margin:100px auto;
    text-align:left;
    
}

.profile-para{
    width:500px;
    margin:auto;

}

.bottom-container{
    background-color:#66bfbf;
    height:100px;
    padding:20px;
}

.footer-link{
    margin:10px;
    color: #11999e;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-link:hover{
    color:#eaf6f6;
}

.skill-head{
    margin-top:-10px;
}

.profile-img{
    border-radius:100%;
    height:180px;
}

.skill-img{
    float:right;
    margin-left:30px;
}

.giphy-embed{
    float:left;
    margin-right:30px;
}

.footer-para{
    margin-top:20px;
    color:#eaf6f6;
    font-weight:normal;
}